body {
    background-color: rgb(27,27,27);
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.aligned {
    display: inline-block;
    text-align: center;
}   

#head-line {
    color: white;
    background-color: black ;
    text-align: center;
    padding: 3px;
}
#header {
    background-color: rgb(41,41,41);
}
h1 {
    text-align:inherit;
}
#search-bar {
    display: flex;
}
#search-logo {
    background-color: rgb(255, 163, 26);
    border-radius: 5px;
    padding: 3px;
    color: black;
}
nav {
    display: flex;
}
.nav-link {
    margin: 5px;
    background-color: rgb(255,163,26);
    color: black;
    text-decoration: none;
    text-underline-offset: ;
}

#white {
}

#orange {
    color: black;
    background-color: rgb(255,163,26);
    border-radius: 5px;
    padding: 3px;
}

.orange-button {
    color: black;
    background-color: rgb(255,163,26);
    border-color: rgb(255,163,26);
    border-radius: 5px;
    padding: 3px;
    font-family: sans-serif;
    font-weight: bold;
}


#main-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

textarea {
    resize: none;
}
    
#header { grid-area: 1 / 1 / 2 / 5; }
#menu { grid-area: 2 / 1 / 5 / 2;
        position: ; }
#main { grid-area: 2 / 2 / 5 / 5; }
#footer { grid-area: 5 / 1 / 6 / 5; }
    