body {
    background-color: rgb(0, 0, 0);
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}



.formulaire {
    display: inline-block;
    text-align: center;
    margin-left: 31%;
    margin-right: auto;
}  


.titre {
    display: flex;
    margin-left: 15%;
}

#contact-title {
    margin-top: auto;
    margin-bottom: auto;
}

header {
    position: fixed;
      top: 0;
      left: 0;
    height: 160px;
    width: 100%;
    background-color: rgb(41,41,41);
}
#head-line {
    color: white;
    background-color: black ;
    text-align: center;
    padding: 3px;
}
#header-top {
    display: flex;

}
h1 {
    margin-left: 10px;
    text-align:inherit;
}

#orange {
    
    color: black;
    background-color: rgb(255,163,26);
    border-radius: 5px;
    padding: 3px;
}
.input-bar, .input-bar:focus {
    background-color: rgba(63, 63, 63, 0.697);
    height: 20px;
    color: rgb(127, 126, 126);
    outline: none;
    border-color: transparent;
}
#search-bar {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    display: flex;
}
#search-logo {
    background-color: rgb(255, 163, 26);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 3px;
    
    color: black;
}
nav {
    display: flex;
    padding: 5px;
}
.nav-link-a {
    margin-left: 10%;
}
.nav-link {
    text-decoration: none;    
}
a:link, a:visited {
    text-decoration: none;    
    color: white;
}

.nav-link {
    border-bottom: 4px solid rgba(63, 63, 63, 0);
    padding: 7px;
}

.nav-link:hover {
    border-color: rgb(255, 163, 26);
}

#orange {
    color: black;
    background-color: rgb(255,163,26);
    border-radius: 5px;
    
        padding: 3px;
}

.orange-button {
    color: black;
    background-color: rgb(255,163,26);
    border-color: rgb(255,163,26);
    border-radius: 5px;
    padding: 3px;
    font-family: sans-serif;
    font-weight: bold;
}


#main-section {
    overflow: auto; /* set overflow property to auto */
    padding-top: 50%; /* to prevent main content from overlapping header */
    padding-bottom: 50%; /* to prevent main content from overlapping footer */
}
#one {
    background-color: red;
}
#two {background-color: aqua;}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(41,41,41);
    text-align: center;
    padding: 20px;
}